div {
	position: absolute;
	left:50%;
}
#info {
	text-align: center;
	top: 25%;
	transform: translate(-50%, -50%);
}
.score {
	font-size: 2em;
	text-align: center;
	top: 50%;
	transform: translate(0, -50%);
}
#score1 {
	left: 2.5%;
}
#score2 {
	left: 97.5%
}
.player {
	height: 1.5%;
	width: 10%;
	transform: translate(-50%, 0);
}
#player1 {
	background-color: blue;
	top: 93.5%;
}
#player2 {
	background-color: green;
	top: 5%;
}
#ball {
	width: 25px;
	height: 25px;
	border-radius: 100%;
	background-color: black;
	top: 95%;
	transform: translate(-50%, -100%);
}
@keyframes fadeOut {
	from {opacity: 1;}
	to {opacity: 0;}
}
@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}